<style>
    #footer {
      text-align: center;
      margin-top: 48px;
      font-size: 1rem;
      color: var(--secondary-text-color);
    }
</style>
<footer id="footer">
    <p>&copy; {{ "now" | date: "%Y" }} Cody Loyd</p>
</footer>