<style>
  #main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 800px;

    img {
      height: 300px;
    }
    /* Dark mode */
    @media (prefers-color-scheme: dark) {
      img {
        filter: invert(90%);
      }
    }

    nav {
      display: flex;
      gap: 20px;
      margin-left: auto;
      padding-right: 32px;
    }

    nav a {
      text-decoration: none;
      font-size: 1.5rem;
      color: var(--main-text-color)l;
    }

    nav a:hover {
      color: var(--main-text-theme-color)
    }

    @media(max-width: 768px) {
      flex-direction: column;
      align-items: center;
      img {
        height: 200px;
      }
      nav {
        margin: 16px auto;
      }
    }
  }
</style>
<header id="main-header">
  <a href="/">
    <img src="/public/images/bird-logo.png" alt="Logo">
  </a>
  <nav>
    <a href="/rat">Rat</a>
    <a href="/stories">Stories</a>
    </nav>
</header>