---
title: Cody Loyd - Stories
layout: base.html
permalink: /stories/
---

<style>
  .story-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    margin-top: 32px;
  }
  a {
    text-decoration: none;
    color: var(--main-text-color);
    width: 100%;
    display: flex;
    gap: 16px;
  }
  li {
    margin-bottom: 64px;
  }
  h2 {
    margin: 0;
    font-weight: 200;
    font-size: 1.8rem;
  }
  ul img {
    max-width: 400px;
    width: 400px;
    height: 400px;
    border: var(--main-text-color) 8px solid;
  }
  p {
    margin: 0;
    font-size: 1rem;
    color: var(--secondary-text-color);
  }
  .preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .read-more {
    font-size: 1rem;
    color: var(--main-text-theme-color);
    margin-top: 8px;
  }
  a:hover .read-more {
    text-decoration: underline;
  }
  @media screen and (max-width: 768px) {
    .story-list a {
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 400px;
      padding: 16px;
      margin: 0 auto;
    }
    .story-list img {
      width: 100%;
      height: auto;
    }
    .story-list h2 {
      display: none;
    }
  }
</style>
<ul class="story-list">
  {% for story in collections.stories %}
    <li>
      <a href="{{ story.url }}">
        {% if story.data.coverImage %}
          <img src="{{ story.data.coverImage }}" alt="{{ story.data.title }} Cover" loading="lazy">
        {% endif %}
        <div class="preview">
          <h2>{{ story.data.title }}</h2>
          <p class="story-preview">
            {{ story.templateContent | getFirstWords: story.data.description }}
          </p>
          <p class="read-more">Read Story</p>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
